{deps, [
  {xmerl, ".*",
    {git, "git://github.com/otphub/xmerl.git", "master"}},
  {sockjs, ".*",
    {git, "git://github.com/sockjs/sockjs-erlang.git", "master"}},
  {cowlib, ".*",
    {git, "git://github.com/ninenines/cowlib.git", "master"}},
	{cowboy, ".*",
		{git, "git://github.com/extend/cowboy.git", {tag, "0.8.3"}}},
	{mimetypes, ".*",
		{git, "git://github.com/spawngrid/mimetypes.git", "master"}}
]}.